[2021-10-27 16:02] geoffwoollard opened #8 "new issue"

[2021-11-01 01:44] thisTyler opened #10 "Develop TEM Simulator Wrapper"
## From Wrapper readme.md
### Questions for wrapper

- Write utility functions in ioSPI allowing to go from one data format to another - utility functions that convert pdb to cif to 3d or accept all 3 ?
- Ask if classy?
- Ask configuration format?
- seperate input file for pdb,cif?
- do we care about interim files?

### Notes

**Main functions**

Parameters:

TEMSimulator(inputfile,configuration_y

[2021-11-01 03:25] geoffwoollard commented on #10
`fill_grid_in_fov(sample_dimensions, optics_params,detector_params, input_file=input_file,Dmax=30, pad=5.)
` seems to be about simulating micrographs with multiple particles. Can temsim just simuate one particle in a small cropped region? Perhaps it can't and they will have to be "picked".

[2021-11-05 17:50] geoffwoollard opened #11 "run tem simulator from docker image"
See Fred's explanation about what a docker image is (in this PR https://github.com/compSPI/simSPI/pull/9) and how to run tem simulator from it.

So instead of calling a locally installed tem simuator, you would have it run from the container. This might take some extra steps with singularity, and making sure it's pointing to the container.

[2021-11-09 01:47] #8 closed

[2021-11-09 01:54] ninamiolane commented on #11
I guess the steps for this issue/task would be:
- [ ] Ask @fredericpoitevin to add explanations in a README.md in the `simSPI/simSPI` repo about the docker image
- [ ] Follow @fredericpoitevin command lines, and:
  - [ ] Download the TEM "docker image" from the cloud
  - [ ] Create a container from the image
  - [ ] Enter the container and run code from the tem.py module
- [ ] Do the same things w

[2021-11-11 21:47] fredericpoitevin commented on #11
Hi Team,

I wrote [this](https://github.com/compSPI/simSPI/blob/master/docker/README.md) to provide some context to the container approach. It's a little bit of a learning curve, so please let me know how you are doing and let me know where you have problems - even if at the very first step.

We can iterate until everyone manages to run TEM simulator :D

[2021-11-13 18:47] geoffwoollard opened #14 "simulator inputs and outputs: .config, meta data, ground truth for weak-phase-simulator and TEM-simulator"
# Design desiderata

A simulated dataset should be fully reproducible
* input: simulation method, all input params needed for the simulation method, specimen, random seed
* output: particle stack, meta-data

The output meta-data (star file) should be unified to come extent across different simulation methods
* optics parameters (CTF parameters)
* pixel size

Different simulators take different inp

[2021-11-13 19:39] geoffwoollard commented on #14
# Common input/output categories

* pixel_size_ang # pixel size in angstroms
* voltage_kv # microscope beam voltage, e.g. 300 keV
* electron_dose_e_ang2 # electron dose in electrons / Angstrom^2
* spherical_aberration_mm # spherical aberration in milimeters
* defocus_1_ang # defocus 1 in angstroms
* defocus_2_ang # defocus 2 in angstroms
* astigmatism_angle_rad # defocus angle of astigmatism  in r

[2021-11-19 18:47] geoffwoollard commented on #14
Re Harshit's email "TEM WP simulator link" (Nov 19, 2021).

Yes, the tem simulator can simulate micrographs. Currently these get parsed into a particle stack, but eventually there may (or may not!) be interest in simulating full micrographs, perhaps to benchmark particle picking algorithms.

The simulator specific yaml /config file addresses this. Exactly how a common yaml/config file gets transfo

[2021-11-23 06:31] calhep commented on #14
Hi Geoff, thanks for all the feedback. I just have a few clarifying questions regarding the new config setup.

- Is the "common input/output categories" list above exhaustive or are there more shared parameters between these two simulator methods? Here is the link to the current sim_config for reference, barring the soon-to-be-implemented field name improvements from above: https://github.com/comp

[2021-11-23 15:42] geoffwoollard commented on #14
Yes, I think it makes sense to have one config file for the tem simulator.

[2021-11-23 18:51] geoffwoollard commented on #14
The important things for the deadline is actually datasets, my understanding is by mid December (coming up quick!!!).

Yes, let's go ahead and not wait for other things be to figured out, as Fred suggested.

We can circle back and write a routine how to convert the common yaml/config into the tem simulator specific one. And it won't change anything in your code, since it will be upstream of that.

[2021-11-25 05:03] calhep commented on #14
Hi @geoffwoollard , thanks a ton for the feedback on this. I've uploaded an image below containing what the simulator currently outputs as a metadata .star file (note the actual extension will be .star, GitHub only allows uploads of .txt and the like). Your advice on whether this is up to spec would be much appreciated, including name changes, redundant or missing fields, etc. Once I make any nece

[2021-11-25 21:58] geoffwoollard commented on #14
I looked at `particle_metadata.txt`. In general the ctf info will be per particle. I think now, with only one micrograph being simulated, it's just using one set of params. But in general each micrograph in the tem simulator will have different ctf params for all the particles that make up a particle stack.

And other simulation methods would simulate particles with different ctf params - even if

[2021-11-29 13:46] harshit-gupta-cor commented on #14
1. Regarding having a common config file:
For now we can develop the two simulators independently: linear and TEM. Once we are at the final stage and are sure which variables and config parameters need to be passed for each simulator, we can discuss on if we wanna merge the config file of both. I believe it will not be a hard task to merge them.

2. Format of the config file.
For Linear_simulator

[2021-11-30 21:24] geoffwoollard opened #21 "ctf bfactor"
RE https://github.com/harshit-gupta-cor/simSPI/blob/linear_simulator/simSPI/linear_simulator/modules.py#L235

How exactly does the code below make a good bfactor?

- valueNyquist is 0.2 here https://github.com/harshit-gupta-cor/simSPI/blob/linear_simulator/simSPI/linear_simulator/configs/betagal_starfile.cfg#L40
- the minus log (0.2) goes to some positive number: 1.61
- decay is 1.61*2^2*pixel_siz

[2021-11-30 21:26] geoffwoollard commented on #21
see initial discussion in this PR https://github.com/compSPI/simSPI/pull/20#discussion_r759614238

[2021-11-30 21:26] geoffwoollard commented on #21
by "default", I mean that when b=0, we enter this control flow

[2021-11-30 21:43] geoffwoollard commented on #14
RE previous discussion in PR https://github.com/compSPI/simSPI/pull/20#discussion_r759625897

I read the link on "factory method pattern". The name is new to me, but it looks like it has everything we need.

Aren't star files generic, and not Relion specific? If so, I would put some thing like this in, so it's clear where the relion stuff happens, and how to extend it.

So to extend things, will t

[2021-11-30 22:24] geoffwoollard commented on #14
Also RE https://github.com/compSPI/simSPI/pull/20#discussion_r759010972

Maybe ioSPI could have all the ways of converting metadata from other software packages to a common standard for compSPI.

Rather than have each simulator do its own parsing.

[2021-11-30 23:33] geoffwoollard commented on #14
Re https://github.com/compSPI/simSPI/pull/20#discussion_r758910433

See the comments of @ninamiolane about having the simulators use some common methods, and enforcing this with `ABC`.

Given that the simulators work in different ways, what would be the shared methods, besides `.run(config)`?

[2021-12-01 20:26] geoffwoollard commented on #14
Some notes on design from my colleague Justice Sefas

I took a cursory glance at some of the code and comments and it seems like you're on the right track. When you said you had two simulators and were going to have more, my first thought was to make an abstract simulator class, which I see you guys already discussed in the comments. Without knowing all the details of your project, I would try to

[2021-12-02 01:39] ninamiolane commented on #14
@geoffwoollard excellent, thank you for getting different opinions on design: as this can be subjective sometimes, it is good to hear from different persons.

Maybe coordinate with @harshit-gupta-cor to decide on the final `Simulator` design, i.e. the abstract class?

Thanks 🙌

[2021-12-05 01:18] fredericpoitevin opened #22 "Replace mdtraj with gemmi"
I was very much into MDtraj when I wrote the material you used to make this function, but gemmi might be a better choice, since MDtraj is no longer maintained I think.

_Originally posted by @fredericpoitevin in https://github.com/compSPI/simSPI/pull/19#r755671560_

[2021-12-06 22:08] harshit-gupta-cor opened #28 "Redesign simSPI and architecture of Python classes for simulators"
Continuing the [comment-part-2](https://github.com/compSPI/simSPI/pull/20#pullrequestreview-818530355) of @ninamiolane.

Here is one option for the simulator organization. It is more like the option 1 discussed in that comment. It feels a bit more tidy as pointed by @geoffwoollard.

<img width="274" alt="image" src="https://user-images.githubusercontent.com/18009768/144932059-f10d6604-b800-4b75-93

[2021-12-06 22:40] harshit-gupta-cor opened #29 "Splitting utils.py"
Continuing @fredericpoitevin  [comment](https://github.com/compSPI/simSPI/pull/20/files#r759012414), the [utils.py](https://github.com/harshit-gupta-cor/simSPI/blob/linear_simulator/simSPI/linear_simulator/utils.py) needs to be split up in more meaningful functions:

Here is an option:
_fourier_utils.py_: primal_to_fourier_2d, fourier_to_primal_2d
_math_utils.py_: uniform_to_triangular
_volume_uti

[2021-12-07 17:10] geoffwoollard commented on #22
When you tackle this, I think it would be good to also come up with some solution for "atom selection". Maybe tem_simulator should just use the atoms it gets in the pdb file, and the atom selection should happen upstream in some other tool (gemmi).

We want to know exactly what pdb file the tem_simulator used. It would be confusing if there's an all atom pdb file associated with the particle stack

[2021-12-07 17:10] geoffwoollard commented on #22
https://github.com/compSPI/simSPI/pull/19/files#r764198998

[2021-12-08 23:06] fredericpoitevin commented on #29
Thanks @harshit-gupta-cor for opening this issue.

- `primal_to_fourier_2d` and `fourier_to_primal_2d`: those functions will probably be useful in other repos, like reconstructSPI, so I'm reluctant to have them under simSPI - we might not think of them here when we'll need them there. How about a `transforms.py` in ioSPI?
- `uniform_to_triangular`: same, how about a `distributions.py` in ioSPI?

I

[2021-12-08 23:07] fredericpoitevin commented on #29
Another idea fo `transforms.py` and `distributions.py` would be to have these under `compSPI/compSPI` which would contain all code usable across all the other repos?

[2021-12-08 23:39] fredericpoitevin opened #31 "cryoEM-specific glossary"
I think "particles" and maybe "micrographs" will eventually be referred to in many files in simSPI and other compSPI repos. Do we want to be explaining particles and micrographs every time they are referred to, or in one main high level place?

_Originally posted by @geoffwoollard in https://github.com/compSPI/simSPI/pull/19#discussion_r764183780_

[2021-12-08 23:39] fredericpoitevin commented on #31
We should create that in `compSPI/compSPI`

[2021-12-08 23:49] fredericpoitevin commented on #22
Both `MDtraj` and `gemmi` have rather well document atom selection API:
- https://gemmi.readthedocs.io/en/latest/analysis.html#selections
- https://mdtraj.org/1.9.4/examples/atom-selection.html#Atom-Selection-Language

[2021-12-09 03:56] ninamiolane commented on #31
Excellent idea! 💯

[2021-12-10 05:37] jedyeo commented on #31
agreed!

[2021-12-11 01:55] geoffwoollard opened #33 "output version of tem simulator from running executable"
https://github.com/compSPI/simSPI/pull/19/files#r766343860

[2021-12-11 19:31] geoffwoollard opened #34 "add white gaussian noise to clean tem simulator outputs"
additive white gaussian noise adds is usually done after the ctf is included. the tem simulator gives clean ctf convoluted outputs, so we can add white gaussian noise on top and control exactly how much is added and how it is added.

 typically the noise is measured/reported with signal to noise ratio (SNR). this is defined as the variance of the signal divided by the variance of the noise (ie pur

[2021-12-11 19:33] geoffwoollard commented on #34
also, when calculating the variance of the signal, you can average over batches of particles. each particle, depending on its orientation, will have a bit of a different variance. so average over the stack so it's orientation independent.

e.g. if particle one had var1=1 and particle 2 var2=1.1, then the variance to use would be 1.05 for both.

you can do this easily with passing in an index to `n

[2021-12-11 19:45] geoffwoollard opened #35 "helper functions to sample ctf parameters (for tem simulator and other simulators)"
see simSPI.transfer.random_ctfs https://github.com/compSPI/simSPI/blob/master/simSPI/transfer.py#L109

in particular
[code]

For now, you are just passing in defocus (`- defocus [OPTIONAL]           : nominal defocus value in um`) so you could do something like
[code]

This involves reading in some input meta data about the data generating process: what `defocus_distribution` is, and the params of

[2021-12-12 08:56] thisTyler commented on #34
Jumped on this and did a first pass at an implementation. Can be found in the gaussian_noise branches of ioSPI and simSPI (ioSPI only has some minor changes to the input files).

The input files can either have a decibel or ratio value of SNR (the decibel takes priority), and if either are present then the wrapper automatically generates noisy .h5 files at the end in addition to the existing noise

[2021-12-13 07:07] fredericpoitevin opened #37 "`test_eval_ctf` fails for python 3.7"
PR #25 was merged but one test keeps failing due to an error elsewhere: https://github.com/compSPI/simSPI/runs/4485857206?check_suite_focus=true#step:7:43

The updated PR passes all the test except a test which is from TEM simulator and nothing to do with this PR. @geoffwoollard you might wanna look into it. The test function is written for a function which calls a random variable inside it. This

[2021-12-13 07:11] fredericpoitevin commented on #37
Actually, it looks like the error is due to `test_write_crd_file()`: https://github.com/compSPI/simSPI/runs/4502798979?check_suite_focus=true#step:7:23

Some closer look is needed.

[2021-12-13 07:12] fredericpoitevin commented on #37
@harshit-gupta-cor could you please pinpoint the root cause? Thanks!

[2021-12-13 07:39] harshit-gupta-cor opened #38 "test_projector failing"
For PR #36 the unit testing on test_projector [fails](https://github.com/compSPI/simSPI/runs/4502881482?check_suite_focus=true).
It says No module named 'pytorch3d'. However, it is able to install it in the "build dependencies" step. Also the test passes on my machine.
@fredericpoitevin @ynashed any clues on what might be the reason?

Traceback:

=====================================
ERROR collect

[2021-12-13 07:50] harshit-gupta-cor commented on #37
`test_write_crd_file error()` is new to me. I was getting the following error:

FAILED tests/test_transfer.py::test_eval_ctf - assert (99, 99) == (98, 98)

I am not sure what could be the exact reason but it looks like the shape that it asks for the CTF to make is missing by one pixel. This could be a [culprit](https://github.com/compSPI/simSPI/blob/9e389c8227ecca5aed98bb53bb400f83642d7c74/simSPI/

[2021-12-13 20:13] geoffwoollard commented on #37
I've seen this before and tried to track it down and reproduce... I thought I had fixed it. I'll look into it again

[2021-12-13 20:14] geoffwoollard commented on #37
https://github.com/compSPI/simSPI/pull/12

[2021-12-13 21:33] fredericpoitevin commented on #38
@harshit-gupta-cor I think I found the problem, now trying to think of a way to solve it. The reason it works locally and not in the `build` workflow is a Mac/Linux thing - see: https://github.com/facebookresearch/pytorch3d/blob/main/INSTALL.md#installing-prebuilt-binaries-for-pytorch3d

[2021-12-13 22:01] geoffwoollard commented on #37
Hmmm. It's passing tests. Let me check if its a random seed and try several times https://github.com/geoffwoollard/simSPI/runs/4512553889?check_suite_focus=true

[2021-12-14 01:52] geoffwoollard commented on #37
Ok I solved that issue. PF with fix here: https://github.com/compSPI/simSPI/pull/40

[2021-12-14 02:40] fredericpoitevin commented on #37
Great! Let me take a look at the PR now

[2021-12-14 20:07] geoffwoollard commented on #29
Yeah, I think compSPI/comSPI could be about the high level organization of the software engineering practices, classes and functions, types of objects (distributions that can be sampled, and scored), and ways the other repos talk together.

[2021-12-14 20:11] #37 closed

[2021-12-15 14:49] harshit-gupta-cor commented on #38
@fredericpoitevin Thanks a lot for figuring this out! One more example of why docker images are so popular. I opened PR #45 to update environment.yml accordingly. Although, it install pytorch3d on linux successfully but now has problem with mac. I am working on it.

[2021-12-15 15:12] harshit-gupta-cor commented on #29
I like the compSPI/compSPI idea. Does this mean we also put git:compSPI in the pip dependency?

[2021-12-16 18:19] fredericpoitevin opened #48 "Run TEM simulator tests in container."
This workflow:
https://github.com/compSPI/simSPI/blob/master/.github/workflows/tem_dockerbuild.yml
builds the following container:
https://hub.docker.com/repository/docker/fpoitevi/simspi-temsimulator

Remains to be done:
run this workflow:
https://github.com/compSPI/simSPI/blob/master/.github/workflows/build.yml
in that container - also check path to executable in wrapper.

_Originally posted by

[2021-12-17 02:43] fredericpoitevin commented on #48
**Little update**
This will require to build a *base* container with the conda environment in it, then built the TEM simulator container on top of it. Once that is done, tests within the TEM simulator container could be done with something like:
[code]

[2022-01-05 04:03] geoffwoollard commented on #48
Suggested PR deadline: Jan 10

[2022-01-05 04:04] geoffwoollard commented on #35
Suggested deadline: Jan 14

[2022-01-05 04:04] geoffwoollard commented on #34
Suggested deadline: Jan 14

[2022-01-05 04:08] geoffwoollard commented on #11
Suggested deadline: Jan 14

[2022-01-05 04:17] geoffwoollard opened #49 "generate initial datasets available with simSPI"
Prerequisite: the TEM simulator is wrapped with CTF and noise, using the container TEM simulator.

Scope: generate 1k particles of the following datasets to be made available on ioSPI.

1. ribosome (~2 Angstrom): PDB 7k00
2. spliceosome (~4A): PDB: 5nrl
3. Gaba B (~3-4A): PDB 7eb2

[2022-01-05 04:18] geoffwoollard commented on #49
Suggested deadline: Jan 28

[2022-01-19 05:33] arjunsingh3600 commented on #35
Discussion from Slack : The TEM simulator mentions the following CTF. Why are we overlaying another one on top of simulated particle?
![image](https://user-images.githubusercontent.com/50425729/150070145-f94d77a6-dfe4-4443-8d51-2e3482553fbb.png)

we just want to give the CTF params to the TEM simulator. ie the delta z. the k comes from the beam energy (300 kev) and the Cs also, but those are typic

[2022-01-19 05:34] arjunsingh3600 commented on #34
Discussion from slack:

While reviewing the TEM simulator documentation, We found that the TEM simulator simulates detector blurring (using modulation transfer function) and detector quantum efficiency < 1. Currently, we are adding gaussian noise on top of the simulated particles instead of using these settings. Is the plan to keep it this way? why/ why not?

For now we want to not have any detect

[2022-01-24 01:50] #11 closed

[2022-01-24 19:52] #48 closed

[2022-01-24 21:20] fredericpoitevin opened #52 "Keeping track of python version in test"
@ninamiolane what we could look into is the following:
- have `build_container.yml` build one image per "strategy" (ubuntu version, python version), with the image tag reflecting the version
- have `action.yml` somehow taking the tag as argument.
I'll look into that.

_Originally posted by @fredericpoitevin in https://github.com/compSPI/simSPI/issues/51#issuecomment-1020557352_

[2022-01-24 22:59] arjunsingh3600 commented on #35
@geoffwoollard Could you please verify my understanding of the issue here :
1) The goal here to randomly generate the defocus parameter delta z with one of the following distributions :

- uniform
- gaussian
- mixture of gaussian

2) The other parameters of the CTF i.e Cs and k would remain the same for every image

In addition, in the issue here [https://github.com/compSPI/ioSPI/issues/20](url),

[2022-01-27 22:27] geoffwoollard commented on #35
Good ideas from Arjun
* use the tilt series functionality in tem simulator to pass in sampled defoci to the TEM simulator. set angle to zero so that it's just returning particles in batch.
* put the CTF equation that the TEM simulator uses [HERE](https://github.com/compSPI/simSPI/issues/35#issuecomment-1016101067) in the docstring close to where the CTF params are fed into. This can be referenced

[2022-01-27 22:54] geoffwoollard commented on #35
Some pseudo code for the CTF sampler

[code]

notice that there is no reference to the CTF or defocus.  You can write some general code and then wrap that in something that does it for defocus.

Eventually it will be interesting to have complicated distributions (like rotations where they are not uniform, but some from some user specified distribution defined by parameters passed in).

See my code

[2022-01-29 00:25] ninamiolane opened #59 "Error when creating conda environment from .yml file"
![Screen Shot 2022-01-28 at 4 25 30 PM](https://user-images.githubusercontent.com/8267869/151638797-2571e368-ada6-43ae-aabf-bea7b391385a.png)

[2022-01-29 01:23] geoffwoollard commented on #35
@arjunsingh3600 @calhep note that @harshit-gupta-cor has already written code that samples ctf and rotation

please closely follow what he did. you can copy paste for now. ni the near future we will refactor and group similar code together that will be shared between both simulators. but we'll do this after both simulators are working well, tested with notebooks, and the dust has cleared.

see
htt

[2022-01-31 23:08] geoffwoollard commented on #28
On 28 Jan 2022 Harshit and I met and chatted about how the differential [linear simulator](https://github.com/compSPI/simSPI/tree/master/simSPI/linear_simulator) and TEM simulator could come together.
* Wait until dust clears on both of them (week or two?). Then do refactor in intentional way after meetings with Nina, Fred, etc
* Follow general directory structure suggested by Harshit [above](http

[2022-02-01 00:21] geoffwoollard commented on #59
@harshit-gupta-cor @fredericpoitevin did you fix this somewhere, or is it still an issue?

[2022-02-01 00:21] geoffwoollard commented on #59
Is it a mac / linux thing?

[2022-02-01 01:31] harshit-gupta-cor commented on #59
Sorry, I had checked this command on the sdf cluster of Slac. I don't have direct access to Linux. Maybe I missed something. I am working on to correct it. Sorry for this mess.

[2022-02-01 01:37] ninamiolane commented on #59
It was happening on my Mac :/

[2022-02-01 02:10] fredericpoitevin commented on #59
Yes we just hid the dust under the rug here: https://github.com/compSPI/simSPI/pull/45

I'll push an environment file that works for Mac.

[2022-02-01 02:29] #59 closed

[2022-02-01 02:53] harshit-gupta-cor commented on #59
Great! @ninamiolane I thought you were using linux. Can someone testify if the current environment.yml works for linux? @fredericpoitevin @geoffwoollard

[2022-02-01 14:16] fredericpoitevin commented on #59
Yes, the current environment.yml works for Linux, and environment-mac.yml works for Mac.

The difference is that pytorch3d is conda installed on Linux while it needs to be pip installed on Mac (for obscure reasons).

A proper fix will be met when we start building pytorch3d from source instead of using this pre-built approach.

[2022-02-02 00:11] fredericpoitevin commented on #38
@harshit-gupta-cor shall we close this?

[2022-02-02 23:45] geoffwoollard commented on #14
---------- Forwarded message ---------
From: Frederic P Poitevin <frederic.poitevin@stanford.edu>
Date: Wed, Feb 2, 2022 at 3:42 PM
Subject: Re: wrapping up simSPI
To: Geoffrey Woollard <geoffwoollard@gmail.com>, Nina Miolane <ninamiolane@ucsb.edu>
Cc: Gupta, Harshit <hgupta@slac.stanford.edu>

Thanks guys,

let's keep thinking about the design so refactoring will go smoothly after all the current

[2022-02-08 22:56] ninamiolane commented on #29
The problem with putting transforms.py/distributions.py in `compSPI/compSPI` is that this repo is not clean at all, it contains all of our old code.

We should either:
- (i) clean/reset compSPI/compSPI,
- or (ii) put transforms.py and distributions.py somewhere else in the meantime.

Additionally, we have code for FFT in ioSPI, that should be refactored with all this.

[2022-02-09 03:26] fredericpoitevin commented on #29
Once/If merged, https://github.com/compSPI/compSPI/pull/28 completes (i).

I've created https://github.com/compSPI/ioSPI/issues/45 to address refactor of FFT in ioSPI.

[2022-02-12 01:33] fredericpoitevin opened #69 "Workflow documentation"
The workflows are a bit opaque to the developers at the moment. Some documentation about what they do and what to expect from them depending on whether push or PR are made from the compSPI fork or other forks is very much needed.

[2022-02-12 17:06] fredericpoitevin opened #70 "Tidy up environments."
At the moment we have `environment.yml` and `environment-mac.yml` to deal with pytorch3d (see #45 ).
A more elegant solution with less redundancy is desirable.

[2022-02-16 03:29] fredericpoitevin commented on #29
I am closing this issue, which has been addressed in https://github.com/compSPI/compSPI/pull/27 (closed by https://github.com/compSPI/compSPI/pull/28).

[2022-02-16 03:29] #29 closed

[2022-02-18 16:15] thisTyler opened #75 "Update Docker Image to Reflect ioSPI Refactoring"
Because https://github.com/compSPI/simSPI/pull/65 is not merged, the TEM portion of simSPI is not functional. This PR is encountering import errors in which it does not recognize the refactoring changes to ioSPI (new library names are not found when we try to import them).

I believe this is an issue with the docker image, please update it so that we can confirm tests pass and we can get this crit

[2022-02-20 21:26] ninamiolane commented on #10
What is the status on this? Should we close? @fredericpoitevin @geoffwoollard

[2022-02-20 21:29] ninamiolane opened #76 "Write first notebook tutorial for simSPI"
An initial notebook has been started in the PR #57 by [luis-sribeiro](https://github.com/luis-sribeiro).

This task amounts to completing it and merging it.

[2022-02-20 21:43] ninamiolane commented on #28
Plan for merging @harshit-gupta-cor PRs is here:
https://github.com/compSPI/simSPI/pull/20#issuecomment-983853121

Once this is done, we can move on to redesigning simSPI.

[2022-02-20 21:47] ninamiolane opened #77 "simSPI: Implement membrane protein belt simulations"
Implementations should model the belt analytically

When computing the integral, one needs to subtract the protein in the center:
    - subtract the individual contributions of the atoms
    - width of the belt
    - location of the belt
    - density of the belt is two-folds:
        - internally: carbons
        - externally: other atoms

[2022-02-20 22:15] geoffwoollard commented on #77
Helena is working on adding a lipid belt to a membrane protein. The forward model has just a few simple geometric parameters in it.

By "model the belt analytically" do you mean
1. adding in atoms based on some geometric parameters
2. going from parameters directly to the signal they contribute to the projection based on analytical equations and doing the integral sum

OF course, it can be both...

[2022-02-22 03:31] kdd-ubc commented on #77
The way we are currently implementing it is by putting atoms within an ellipsoid defined by the geometric parameters, and subtract the protein in the center (to be done this week by Helena). The model will then be converted into a pdf file that can be passed to the TEM simulator

[2022-02-22 16:34] luis-sribeiro opened #78 "TEM wrapper is not updated"
I was trying to use the TEM wrapper, but it has references to resources which are not available anymore (and weren't just renamed). For instance, while ``ioSPI.cryo.mrc2data`` has become ``ioSPI.micrographs.read_micrograph_from_mrc`` I was not able to find functionalities for creating the input file for the TEM Simulator.

[2022-02-22 16:41] thisTyler commented on #78
Hi Luis - we currently have a PR that fixes this but it is blocked by https://github.com/compSPI/simSPI/issues/75, which Fred and I are working on. Sorry for the inconvenience!

[2022-02-22 20:24] ninamiolane commented on #78
Thanks @thisTyler for the quick answer 🙌  let's keep this issue open until this is actually resolved. Thanks!

[2022-02-23 08:11] fredericpoitevin commented on #28
#20 was closed. simSPI refactoring can start fresh.

[2022-02-23 08:11] #28 closed

[2022-02-23 08:15] fredericpoitevin commented on #10
Yes, it might have been replaced by another one? Either way, it's not active anymore.

[2022-02-23 08:15] #10 closed

[2022-02-23 08:20] fredericpoitevin commented on #76
for the ribosome PDB, here is what we used before:

## Original files
- Large Subunit (LSU): [3J79](https://www.rcsb.org/structure/3J79) --> `3j79-assembly1.cif`
- Small Subunit (SSU): [3J7A](https://www.rcsb.org/structure/3J7A) --> `3j7a.pdb1`

## Merge and clean in gemmi:
[code]

[2022-02-23 08:56] fredericpoitevin commented on #75
The Docker image has been updated with latest ioSPI but it does not seem to resolve things: https://github.com/compSPI/simSPI/runs/5300477112?check_suite_focus=true

[2022-02-23 08:58] fredericpoitevin commented on #75
The error might not be related to the TEM simulator part, rather by a recent PR merged from the differentiable simulator side of things:
[code]
Let me try to fix this.

[2022-02-23 16:21] #75 closed

[2022-02-23 16:26] fredericpoitevin commented on #31
moved to `compSPI/compSPI`

[2022-02-23 19:54] jedyeo commented on #34
feature added in https://github.com/compSPI/simSPI/pull/43

[2022-02-23 19:54] #34 closed

[2022-02-24 19:48] fredericpoitevin opened #80 "Refactoring simSPI"
Following implementation of TEM wrapper and differentiable weak-phase simulator, there is a need for integrating them better so the user interfaces with both in a similar way.

[2022-02-24 22:20] #78 closed

[2022-03-08 08:10] calhep opened #83 "Toggling "h5_file_noisy" addition to output_path_dict based on config params."
Need a way to determine whether noise has been requested in the config file in generate_path_dict(), and only add "h5_file_noisy" to output_path_dict accordingly.

[2022-03-10 03:28] calhep opened #84 "Docker image fails to update configuration files (.yaml) on push, workaround needed."
I've discovered an issue with the docker image, namely that when pushing changes to a branch on which the remote test suite runs, the docker image fails to update changes to configuration files (.yaml). This causes the test suite to fail if these changes are integral to the codebase and by extension the test suite.

The current solution is to include flags to build the image without caching, shown

[2022-03-11 17:58] fredericpoitevin commented on #84
Thanks @calhep for taking a deep dive into the Docker world!

Before looking into this further, let me just share a little reminder:
if I understand correctly, you are pushing changes to the master branch directly - going forward, it'd be safer to work on a separate branch, see [Contributing Guidelines](https://github.com/compspi/compspi/blob/master/docs/contributing.rst#contributing-code-workflow

[2022-03-11 19:00] calhep commented on #84
Hi @fredericpoitevin, I discovered this issue when pushing to a branch with an open PR (tem_metadata_basic), on which the full test suite was run in docker before being able to be opened for review. As a result of my stopgap fix the branch was ultimately reviewed and okayed for merge into master by Nina, but there is another existing PR (https://github.com/compSPI/simSPI/pull/82) that shares this

[2022-03-17 03:35] arjunsingh3600 commented on #35
An implementation of the sample ctf parameters has been implemented [here ](https://github.com/compSPI/simSPI/pull/82).  Based on the PR comments raised by the @geoffwoollard, The following refactor needs to be discussed:

![image](https://user-images.githubusercontent.com/50425729/158731579-81a252de-89fc-4537-8580-4dca99f4c14c.png)
 In sim_config,
-  reflecting the options for distribution_type i

[2022-03-18 03:13] arjunsingh3600 opened #88 "TEM : Refactor "no of samples to"

[2022-03-18 15:15] fredericpoitevin opened #89 "Add some log information when processes are running"
View / edit / reply to <a href='https://app.reviewnb.com/compSPI/simSPI/pull/86/discussion/'>this conversation</a> on ReviewNB

<span id='545815' class='CommentSeparator-DoNotDelete'> _fredericpoitevin commented on 2022-03-18T15:08:26Z_
----------------------------------------------------------------</span>
<p>Very nice! Would be even better with some output information about what is happening (ma

[2022-03-18 15:17] fredericpoitevin opened #90 "TEMsimulator output format compatibility"
View / edit / reply to <a href='https://app.reviewnb.com/compSPI/simSPI/pull/86/discussion/'>this conversation</a> on ReviewNB

<span id='565213' class='CommentSeparator-DoNotDelete'> _fredericpoitevin commented on 2022-03-18T15:08:28Z_
----------------------------------------------------------------</span>
<p>I'll create an issue about output formatting. Would be nice to have the options to write

[2022-03-18 22:45] geoffwoollard commented on #90
I think EMAN switched to .h5. Steve Ludtke speaks to it in this presentation about data compression of cryoEM images: https://www.youtube.com/watch?v=XEDAme0-fQ4&t=241s

But by far .mrc is more common.

Could also do .npy/.npz for numpy array.
https://numpy.org/doc/stable/reference/generated/numpy.savez.html

[2022-03-25 19:47] geoffwoollard opened #92 "add more people to a list of maintainers"
Perhaps there should be a list of maintainers? I'd like to be very much involved and am willing to the work it takes, but do not want to exclude others.

https://github.com/compSPI/simSPI/blob/master/setup.py#L9

[2022-03-25 23:40] fredericpoitevin commented on #84
Thanks @calhep I think I understand the problem now.
I'm quite impressed with your hacker's skills here btw ;)

I do not see a fix to this issue that is better than what you are doing, and I agree it is not satisfactory. I will need to revisit the whole containerization approach. A potential fix that worked for me before is to leverage layers better so that only the environment and actual code are

[2022-03-25 23:44] fredericpoitevin opened #93 "Improve containerization experience"
Containerization is great but has been the source of frustration.

We list here all issues that would benefit from a better approach to deal with containers:
- Closes #69
- Closes #70
- Closes #84

[2022-03-25 23:48] fredericpoitevin commented on #92
I agree, it should reflect contributions

[2022-03-26 02:14] geoffwoollard commented on #92
So who should be added?

[2022-04-06 15:13] geoffwoollard opened #97 "temsimulator docs on Euler angle convention"
Is there any docs in the TEM simulator on what convention is used? It would be really good to show how these angles are applied in the projection. Perhaps it could be illustrated in a notebook.

An idea:
1. Read in angles from the tem simulator output data
2. Make a rotation matrix, according to the right Euler angle convention: e.g. `pytorch3d.transforms.euler_angles_to_matrix(..., convention='XZ

[2022-04-06 22:48] fredericpoitevin opened #98 "Building simSPI container workflow fails due to size limit."
See https://github.com/compSPI/simSPI/actions/runs/2097918624

I have started work on making the image lighter, but the specific problem with this workflow is that two images are pulled, `simSPI:test` and `simSPI:latest` if the tests pass. Somehow this leads to the error above.

[2022-04-08 05:03] fredericpoitevin commented on #49
Where do we stand with this issue @geoffwoollard ?

[2022-04-08 06:23] geoffwoollard commented on #49
The capstone students did not get to it.  Now that they are wrapped up (report midnight Friday), I'll do it.

I've have set up a custom python environment and remote jupyter notebook on the sockeye clsuter at UBC to run things.

Let me generate some results on 1. next week.

How does that sound?

[2022-04-29 15:02] ninamiolane opened #102 "Implement Projector in Fourier Space (Slicing)"
# What?

- [ ] Implement the projection operation of the cryo-EM image formation model on a 3D array in Fourier space, which is a slicing operation.
- [ ] Add details about the structure of the `config` input to the docstrings of the [simSPI/linear_simulator/projector.py](https://github.com/compSPI/simSPI/blob/master/simSPI/linear_simulator/projector.py) module.
- [ ] Add [corresponding unit-tests

[2022-04-29 15:08] ninamiolane opened #103 "Implement Shift in Image Space"
# What?

- [ ] Implement the shift operation of the cryo-EM image formation model in image space, which is a translation operation.
- [ ] Add details about the structure of the `config` input to the docstrings of the [simSPI/linear_simulator/shift_utils.py](https://github.com/compSPI/simSPI/blob/master/simSPI/linear_simulator/shift_utils.py) module.
- [ ] Add [corresponding unit-tests](https://git

[2022-04-29 15:15] ninamiolane opened #104 "Implement new noise models"
# What?

- [ ] Implement new noise models within the cryo-EM image formation model.
- [ ] Add details about the structure of the `config` input to the docstrings of the [simSPI/linear_simulator/noise_utils.py](https://github.com/compSPI/simSPI/blob/master/simSPI/linear_simulator/noise_utils.py) module.
- [ ] Add [corresponding unit-tests](https://github.com/compSPI/simSPI/blob/master/tests/test_no

[2022-05-02 19:16] ninamiolane opened #105 "Organize simSPI's notebooks"
# What?

- [ ] Create a tutorial called `cryoem_simulation_with_tem_multislice.ipynb` that explains the use of the [TEM Simulator](https://github.com/compSPI/simSPI/blob/master/simSPI/tem.py) module
- [ ] Create a tutorial called `cryoem_simulation_with_weak_phase_approximation.ipynb` that explains the use of the [linear simulator](https://github.com/compSPI/simSPI/blob/master/simSPI/linear_simula

[2022-05-03 01:57] ninamiolane commented on #105
@luis-sribeiro thanks for reaching out!

This specific task is a priori **not** about refactoring the simulators (nor their projectors), it is about re-organizing the contents of the notebooks. Are you saying that a refactoring of `Projector` is needed for this task?

[2022-05-03 11:34] luis-sribeiro commented on #105
Yes, at least for the `cryoem_simulation_with_weak_phase_approximation.ipynb` notebook, I think it is necessary to refactor `Projector`. I believe it could flow this way:

* Exchange the TEMSimulator wrapper section with the new version of `Projector`, since in the notebook, the TEMSimulator wrapper it was used only to obtain a projection.
* Keep the structure where individual functions of the `Li

[2022-05-03 13:34] ninamiolane commented on #98
@fredericpoitevin do we need to solve this before PIMS?

[2022-05-04 18:22] ninamiolane opened #107 "Write a notebook that simulates cryoEM images with the linear simulator"
# What?

- [ ] Write a tutorial notebook on the use of the [simSPI/linear_simulator](https://github.com/compSPI/simSPI/tree/master/simSPI/linear_simulator) module.
- [ ] Add [corresponding unit-tests](https://github.com/compSPI/simSPI/tree/master/tests).
- [ ] Use pre-commit (see README) to make sure that your code follows style guidelines.

# Why?

The linear simulator is a differentiable simulat

[2022-05-04 18:40] ninamiolane opened #108 "Simulator cryoEM micrographs with the TEM simulator"
# What?

- [ ] Run [tem_tutorial.ipynb](https://github.com/compSPI/simSPI/blob/master/notebooks/tem_tutorial.ipynb) in a docker container.
- [ ] Get the PDB files (see section "How?") that represent your atomic model, serving as basis for the simulation
- [ ] Adapt the code in the [tem_tutorial.ipynb](https://github.com/compSPI/simSPI/blob/master/notebooks/tem_tutorial.ipynb) to simulate from your

[2022-05-04 18:44] ninamiolane opened #109 "Simulate ribosomes' micrographs with the TEM simulator"
# What?

- [ ] Run [tem_tutorial.ipynb](https://github.com/compSPI/simSPI/blob/master/notebooks/tem_tutorial.ipynb) in a docker container.
- [ ] Get the PDB file (see section "How?") that represents your atomic model, serving as basis for the simulation
- [ ] Adapt the code in the [tem_tutorial.ipynb](https://github.com/compSPI/simSPI/blob/master/notebooks/tem_tutorial.ipynb) to simulate from your

[2022-05-04 18:48] ninamiolane opened #110 "Simulate ' micrographs with the TEM simulator"
# What?

- [ ] Run [tem_tutorial.ipynb](https://github.com/compSPI/simSPI/blob/master/notebooks/tem_tutorial.ipynb) in a docker container.
- [ ] Get the PDB file (see section "How?") that represents your atomic model, serving as basis for the simulation
- [ ] Adapt the code in the [tem_tutorial.ipynb](https://github.com/compSPI/simSPI/blob/master/notebooks/tem_tutorial.ipynb) to simulate from your

[2022-05-04 19:15] ninamiolane commented on #49
This issue has been converted into 3 tasks for the hackathon:
- #109
- #108
- #110
@geoffwoollard you might be able to give them some insights?

[2022-05-05 03:29] fredericpoitevin commented on #98
I don't think so, it's easy to fix "live" but is a problem outside of hackathon's times.
Having both containers is actually a safety net, but I need to make the whole experience smoother. Another option for the hackathon is to not use the TEM wrapper which allows us to do without the container.

[2022-05-06 17:19] fredericpoitevin opened #111 "Implement a tomographic backprojection module"
# What?

**Forward model**:
Given a volume `V` and `N` `simulation_parameters`, use the linear simulator to simulate images:
`X = simulate(V, simulation_parameters)`

**Backprojection**:
Given images `{X}` and `simulation_parameters`, reconstruct the starting volume:
`V = \sum_i back_project(X[i], simulation_parameters[i])`.

# Why?

- Useful to "close the simulation loop", for testing.
- Could be

[2022-05-06 17:55] KennethNye opened #113 "Add Flow generator from 3DFlex"
# What
This python code is a realization of the flow generator reported in the paper: *3D Flexible Refinement: Structure and Motion of Flexible Proteins from Cryo-EM*.

The full paper is retrievable through: https://www.biorxiv.org/content/10.1101/2021.04.22.440893v1

Packages required to run this python code: [`meshpy, numpy, matplotlib, mpl_toolkits`](#code)

In this tutorial, a manufactured 3D

[2022-05-06 17:58] ninamiolane commented on #103
@gggg is working on this.

[2022-05-06 19:19] sonyahanson opened #115 "Make general latent space distribution metadata parser generator"
Make general latent space distribution metadata parser generator. We currently have a quick fix for this bug in `tem_tutorial.ipynb`.
[code]

[2022-05-06 20:29] #113 closed

[2022-05-06 21:02] ninamiolane opened #118 "Change config to linear simulator: from pickle to yml"
The linear simulator currently takes a config input parameter that is required to be a class.

This forces us to save the configuration of a simulator as a pickled .npy --- which is not desired because we cannot quickly open such a file to look at the configuration.

This should be changed, and we should work with .yml or .json files for configuration.

[2022-05-07 01:58] bogdantoader opened #120 "Some tests fail locally because of the "/work/" absolute path"
The absolute path "/work/" in the config files used by the Jupyter notebooks causes the test_notebook to fail when ran locally.
This should be replaced with a relative path, but to do this, the constructor of  tem.TEMSimulator should take the config as a dictionary rather than a path

[2022-05-07 17:51] sonyahanson commented on #105
Note that part of this task was accomplished by @bogdantoader tackling issue #107 with PR #119 . There may still be some changes needed to fully comply with the suggestions in this issue, but his notebook `micrographs.ipynb` explains the use of [linear_simulator](https://github.com/compSPI/simSPI/blob/master/simSPI/linear_simulator/linear_simulator.py).

[2022-05-07 17:59] fredericpoitevin commented on #120
Thanks @bogdantoader for looking into this! I'll work on a fix

[2022-05-07 18:51] geoffwoollard opened #121 "flow generator documentation and source code development"
@KennethNye contributed this notebook on flow generation https://github.com/compSPI/simSPI/blob/master/notebooks/flow_generator_tutorial.ipynb

@KennethNye is interested in taking this to the next step.

I suggest @ninamiolane @fredericpoitevin there be some guidance/direction given on

1. Inputs and outputs of modularized functions
2. Test case of a protein-sized object

[2022-05-09 20:05] ninamiolane commented on #121
Thanks @geoffwoollard for the message. I will close this issue because @KennethNye PR was merged without code review and without unit-tests, it also made the Lint github workflow fail for several users. Unfortunately, I need to revert the PR and remove the notebook from the master branch. The notebook is still great! But its format is not ready to merge into master yet.

The first step is to resub

[2022-05-09 20:05] #121 closed

[2022-05-09 20:53] KennethNye commented on #121
@ninamiolane Sorry, I am very new to GitHub and make a bold move without taking considerations of all these detailed rules. I think you are doing the correct thing, I will first make the necessary changes before resubmitting a PR for reviewing. Thanks all @ninamiolane @geoffwoollard .

[2022-05-10 19:59] lederman opened #123 "Projection tests?"
The current tests for the real space projection are insufficient for testing. Among other issues, the object is symmetric, so if we're getting the rotations wrong it's easy to miss.
A few ideas for benchmarks for comparisons:
1. off-center object.
2. off-center Gaussian: the analytic projection is easy to compute in the real and Fourier domain (it also makes us define some normalization convention

[2022-05-11 16:17] fredericpoitevin opened #126 "Remove `dryrun` test - speedup"
The `dryrun` test takes a few minutes for nothing. Will remove asap.

[2022-05-11 19:01] mbrubake commented on #102
This is close to being complete but some additional features are suggested and likely to be needed:

- Fourier space slicing with a specified resolution/radius in Fourier space, particularly in a circular region.
- Handling of the Hermitian nature of this Fourier transform, i.e., with a real signal, only half of the Fourier coefficients are needed.  The other half are complex conjugates of the ori

[2022-05-12 18:27] ninamiolane opened #128 "Add Colab links to notebooks"

[2022-05-12 18:33] ninamiolane opened #129 "Remove .pbd data that takes up space and download on the fly from osf for tests and notebooks"

[2022-05-12 19:22] bogdantoader opened #130 "Reduce the boilerplate code in test_notebooks.py"
Currently when a new notebook is added, one needs to either create a new test_x.py file that replicates a lot of the code in tests/test_notebooks.py, or add a new set of functions in test_notebooks (test_resources, _exec_notebook, test_new_notebook). I think it's possible to change the _exec_notebook and test_X functions so that for each new notebook we only need to add a new test_resources functi

[2022-05-12 21:40] ninamiolane commented on #130
Excellent idea! Something like this could help (copy-pasted from ioSPI):

[code]

[2022-06-24 14:34] geoffwoollard opened #131 "Add documentation to tem_tutorial.ipynb for simSPI/path_config.yaml"
Giving heads up about paths in `simSPI/path_config.yaml` that must exist to avoid errors for non-existing paths.

[code]

@ninamiolane I tried to push a new feature branch but got

[code]

[2022-06-24 14:35] geoffwoollard commented on #131
Did the permissions change in the last months? Should I push from my own fork rather than the comSPI organization's fork?

[2022-06-24 14:35] ninamiolane commented on #131
@geoffwoollard yes we have restricted access to the branches of compSPI/simSPI to enforce GitHub forks - as is common in public github repositories.

You have to:
- fork the repo
- push your branch there
- open the PR

[2022-06-24 14:57] geoffwoollard commented on #131
While [`simSPI/notebooks/path_config.yaml`](https://github.com/compSPI/simSPI/blob/master/notebooks/path_config.yaml) has
[code]

[`simSPI/path_config.yaml`](https://github.com/compSPI/simSPI/blob/master/path_config.yaml) does not